<!DOCTYPE html>
<html>

<!-- Mirrored from coderthemes.com/adminto/vertical_dark/tables-datatable.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 21 Mar 2019 13:19:06 GMT -->

<head>
  <% include ../partials/head %>
</head>


<body class="fixed-left">
  <div id="notify-wrapper" style="position: absolute">
    <% if(typeof error != 'undefined') { %>
    <div class="modal d-block" tabindex="-1" role="dialog">
      
          <div class="modal-dialog notify-modal" role="document">
            <div class="modal-content notify-modal-error-content">
              <div class="modal-header notify-modal-header">
                <h2 class="modal-title">Thông Báo</h2>
              </div>
              <div class="modal-body py-0">
                <p><%- error %></p>
              </div>
              <div class="modal-footer notify-modal-footer">
                <button type="button" class="btn btn-outline-light" onclick="reLoadPage()">Đóng</button>
              </div>
            </div>
          </div>
    </div>
        <% } %>
        <% if(typeof success != 'undefined') { %>
          <div class="modal d-block" tabindex="-1" role="dialog">
            <div class="modal-dialog notify-modal" role="document">
              <div class="modal-content notify-modal-success-content">
                <div class="modal-header notify-modal-header">
                  <h2 class="modal-title">Thông Báo</h2>
                </div>
                <div class="modal-body py-0">
                  <p><%- success %></p>
                </div>
                <div class="modal-footer notify-modal-footer">
                  <button type="button" class="btn btn-outline-light" onclick="reLoadPage()">Đóng</button>
                </div>
              </div>
            </div>
        <% } %>

    </div>

  </div>
  <div id="wrapper">

    <!-- Top Bar Start -->
    <% include ../partials/navbar %>
    <!-- Top Bar End -->


    <!-- ========== Left Sidebar Start ========== -->
    <% include ../partials/side-bar %>
    <!-- Left Sidebar End -->



    <!-- ============================================================== -->
    <!-- Start right Content here -->
    <!-- ============================================================== -->
    <div class="content-page">
      <!-- Start content -->
      <div class="content">
        <div class="container-fluid">

          <div class="row">
            <div class="col-12">
              <div class="card-box table-responsive">
                <h4 class="m-t-0 header-title">Quản lý khách hàng</h4>

                <!-- Add product button -->
                <button class="btn btn-primary waves-effect waves-light" data-toggle="modal"
                  data-target="#modal-create">Tạo tài khoản Khách hàng</button>
                <p class="text-muted font-14 m-b-30"></p>

                <% include ./table %>
              </div>
            </div>
          </div>
          <!-- end row -->

        </div> <!-- container -->

      </div> <!-- content -->

      <% include ../partials/footer %>

    </div>


    <!-- ============================================================== -->
    <!-- End Right content here -->
    <!-- ============================================================== -->


    <!-- Right Sidebar -->
    <% include ../partials/right-bar %>
    <!-- /Right-bar -->

  </div>
  <!-- END wrapper -->

  <!-- Create Modal-->
  <% include ./modal-create %>
  <!-- Edit Modal-->
  <% include ./modal-edit %>
  <!-- View Modal-->
  <% include ./modal-view %>
  <!-- Delete Modal-->
  <% include ./modal-delete %>
  <!-- Logout Modal-->
  <% include ../partials/modal-logout %>
  <!-- Scripts-->
  <% include ../partials/scripts %>
  <script>
    var selectedId = '';
  </script>
  <script>
    function getID(id) {
      selectedId = id;
    }


    /*
    Code để tạo mới tài khoản khách hàng - đầu
    */
    let inputFullname = $('input[name="fullname"]');
    let inputPhone = $('input[name="phone"]');
    let inputAddress = $('input[name="address"]');
    let inputEmail = $('input[name="email"]');

    function CheckValideDataToCreate() {
      let array = [inputFullname, inputPhone, inputAddress, inputEmail]
      return (CheckValidate(array));
    }

    $('#form-create').on('submit', (function (e) {
      let validate = CheckValideDataToCreate();
      if (validate.err) {
        e.preventDefault();
        alert("Yêu cầu nhập " + validate.message);
        return false;
      }
    }));

    /*
    Code để tạo mới tài khoản khách hàng - đuôi
    */




    /*
    Code để sửa thông tin tài khoản khách hàng - đầu
    */

    let fullnameEditInput = $('#editInput-fullname');
    let phoneEditInput = $('#editInput-phone');
    let addressEditInput = $('#editInput-address');
    let emailEditInput = $('#editInput-email');
    let customerIdEditInput = $('#editInput-customerId');
    let formEdit = $('#form-edit');

    function addDataToEditModal(customer) {
      formEdit.attr('action', `/admin/customers/info/${customer._id}`);
      fullnameEditInput.val(customer.fullname)
      phoneEditInput.val(customer.phone)
      addressEditInput.val(customer.address)
      emailEditInput.val(customer.email)
      customerIdEditInput.val(customer.customerID)
    }

    $('#form-edit').on('submit', (function (e) {
      let validate = CheckValideData();
      if (validate.err) {
        e.preventDefault();
        alert("Yêu cầu nhập " + validate.message);
        return false;
      }
    }));

    /*
    Code để sửa thông tin tài khoản khách hàng - đuôi
    */



    /*
    Code để xem thông tin tài khoản khách hàng - đầu
    */
    let fullnameLabel = $('#label-fullname');
    let phoneLabel = $('#label-phone');
    let addressLabel = $('#label-address');
    let emailLabel = $('#label-email');
    let customerIdLabel = $('#label-customerId');
    let typeLabel = $('#label-type');
    let totalMoneyLabel = $('#label-totalMoney');

    function addDataToViewModal(customer) {
      fullnameLabel.text(customer.fullname)
      phoneLabel.text(customer.phone)
      addressLabel.text(customer.address)
      emailLabel.text(customer.email)
      customerIdLabel.text(customer.customerID)
      totalMoneyLabel.text(customer.totalMoney)
    }



    function getCustomerInfo(id) {
      $.getJSON(`/admin/customer/info/${id}`, function (data) {
        addDataToViewModal(data);
        addDataToEditModal(data);
      });
    }

    /*
    Code để xem thông tin tài khoản khách hàng - đuôi
    */



    /*
    Code kiểm tra thông tin tài khoản khách hàng - đầu
    */
    function CheckValidate(listInput) {
      listInput.forEach(element => {
        element.css("border-color", "#E3E3E3");
      });
      for (let element of listInput) {
        if (element.val() == "") {
          element.focus();
          element.css("border-color", "red")
          return { err: true, message: element.attr('data-focus') };
        }
      }
      return { err: false };
    }



    /*
    Code để kiểm tra thông tin tài khoản khách hàng - đuôi
    */


    /*
    Code để XÓA thông tin tài khoản khách hàng - đuôi
    */

    function deleteCustomer() {
      $.ajax({
        method: 'DELETE',
        url: `/admin/customer/info/${selectedId}`,
        success: function (idDeleted) {
          alert("Xóa thông tin khách hàng thành công");
          location.reload();
        },
        error: function (err) {
          alert(err.responseJSON)
        }
      })
    }

    /*
    Code để XÓA thông tin tài khoản khách hàng - đuôi
    */



    function emptyInput() {
      inputFullname.val('');
      inputPhone.val('');
      inputAddress.val('');
      inputEmail.val('');

    }

    function cancelInput(event) {
      event.preventDefault();
      emptyInput();
    }


    function reLoadPage(){
      location.replace('/admin/customer');
    }




  </script>
</body>

<!-- Mirrored from coderthemes.com/adminto/vertical_dark/tables-datatable.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 21 Mar 2019 13:19:10 GMT -->

</html>