<!--  Modal content for the above example -->
<div class="modal fade bs-example-modal-lg" tabindex="-1" id="view-modal" role="dialog" aria-labelledby="view-form"
  aria-hidden="true" style="display: none;">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header b-0">
        <h4 class="modal-title mt-0" id="view-form">Xem thông tin khách hàng</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      </div>
      <div class="modal-body p-0">
          <div class="card o-hidden border-0 shadow-lg my-0 py-4">
              <!-- Nested Row within Card Body -->
                <div class="row">
                  <div class="col-lg-12">
                    <div class="pb-3 px-5">

                      <div class="form-group row">
                        <div class="col-sm-6">
                          <label for="">Họ và tên</label>
                          <label id="label-fullname" class="form-control form-control-user"></label>
                        </div>
                        <div class="col-sm-6">
                          <label for="">Địa chỉ Email</label>
                          <label id="label-email" class="form-control form-control-user"></label>
                        </div>
                      </div>
                      <div class="form-group row">
                        <div class="col-sm-6">
                          <label for="">Số điện thoại</label>
                          <label id="label-phone" class="form-control form-control-user"></label>
                        </div>
                        <div class="col-sm-6">
                          <label for="">Địa chỉ</label>
                          <label id="label-address" class="form-control form-control-user"></label>
                        </div>
                      </div>
                      <div class="form-group row">
                        <div class="col-sm-6">
                          <label for="">Mã khách hàng</label>
                          <label id="label-customerId" class="form-control form-control-user"></label>
                        </div>
                        <div class="col-sm-6">
                          <label for="">Tổng số tiền đã chi</label>
                          <label id="label-totalMoney" class="form-control form-control-user"></label>
                        </div>
                      </div>
                      <div class="form-group row">
                        <div class="col-sm-10"></div>
                        <div class="col-sm-2">
                          <button data-dismiss="modal" class="btn btn-primary btn-user btn-block">
                            Đóng
                          </button>
                        </div>
                      </div>


                    </div>
                  </div>
                </div>
              <!-- end row -->
          </div>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->