<!DOCTYPE html>
<html lang="en">
  <head>
  <% include ./partials/head %>
  </head>
  <body>

   <% include ./partials/elements/navbar %>
    <!-- END nav -->
		
		<div class="hero-wrap js-fullheight" style="background-image: url('/homepage/images/hieusach.jpg');">
      <div class="overlay"></div>
      <div class="container"  id ="about">				
        <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-center">
				
		  <div class="col-md-11 ftco-animate text-center">
            <h1>Nhà Sách "Tên nhóm"</h1>
            <h2><span>Mang cả thế giới sách đến với tầm tay của bạn</span></h2>
          </div>
          <div class="mouse">
						<a href="#" class="mouse-icon">
							<div class="mouse-wheel"><span class="ion-ios-arrow-down"></span></div>
						</a>
					</div>
        </div>
      </div>
	</div>
	
	<div class="goto-here"></div>
	
    <section class="ftco-section ftco-product top_1" id="new">
    	<div class="container">
    		<div class="row justify-content-center mb-3 pb-3">
          <div class="col-md-12 heading-section text-center ftco-animate">
          	<h1 class="big">Sách mới nhất</h1>
            <h2 class="mb-4">Sách mới nhất</h2>
          </div>
        </div>
    		<div class="row">
    			<div class="col-md-12">
    				<div class="product-slider owl-carousel ftco-animate">
    					<div class="item">
		    				<div class="product">
		    					<a href="#" class="img-prod"><img class="img-fluid" src="/homepage/images/book1.jpg" alt="Colorlib Template">
		    						<span class="status">30%</span>
		    					</a>
		    					<div class="text pt-3 px-3">
		    						<h3><a href="#">Sách Sự Cứu Rỗi Của Thánh Nữ</a></h3>
		    						<div class="d-flex">
		    							<div class="pricing">
			    							<p class="price"><span class="mr-2 price-dc">150.000</span><span class="price-sale">135.000 VND</span></p>
			    						</div>
			    						<div class="rating">
			    							<p class="text-right">
			    								<span class="ion-ios-star-outline"></span>
			    								<span class="ion-ios-star-outline"></span>
			    								<span class="ion-ios-star-outline"></span>
			    								<span class="ion-ios-star-outline"></span>
			    								<span class="ion-ios-star-outline"></span>
			    							</p>
			    						</div>
		    						</div>
		    					</div>
		    				</div>
	    				</div>
	    				<div class="item">
		    				<div class="product">
		    					<a href="#" class="img-prod"><img class="img-fluid" src="/homepage/images/book2.png" alt="Colorlib Template"></a>
		    					<div class="text pt-3 px-3">
		    						<h3><a href="#">Combo 2 Sách: Thư Gửi Tương Lai</a></h3>
		    						<div class="d-flex">
		    							<div class="pricing">
				    						<p class="price"><span>169.000 VND</span></p>
				    					</div>
				    					<div class="rating">
			    							<p class="text-right">
			    								<span class="ion-ios-star-outline"></span>
			    								<span class="ion-ios-star-outline"></span>
			    								<span class="ion-ios-star-outline"></span>
			    								<span class="ion-ios-star-outline"></span>
			    								<span class="ion-ios-star-outline"></span>
			    							</p>
			    						</div>
			    					</div>
		    					</div>
		    				</div>
	    				</div>
	    				<div class="item">
		    				<div class="product">
		    					<a href="#" class="img-prod"><img class="img-fluid" src="/homepage/images/book3.jpg" alt="Colorlib Template"></a>
		    					<div class="text pt-3 px-3">
		    						<h3><a href="#">The Pragmatic Programmer</a></h3>
		    						<div class="d-flex">
		    							<div class="pricing">
				    						<p class="price"><span>119.000 VND</span></p>
				    					</div>
				    					<div class="rating">
			    							<p class="text-right">
			    								<span class="ion-ios-star-outline"></span>
			    								<span class="ion-ios-star-outline"></span>
			    								<span class="ion-ios-star-outline"></span>
			    								<span class="ion-ios-star-outline"></span>
			    								<span class="ion-ios-star-outline"></span>
			    							</p>
			    						</div>
			    					</div>
		    					</div>
		    				</div>
	    				</div>
	    				<div class="item">
		    				<div class="product">
		    					<a href="#" class="img-prod"><img class="img-fluid" src="/homepage/images/book4.jpg" alt="Colorlib Template"></a>
		    					<div class="text pt-3 px-3">
		    						<h3><a href="#">Sách thiếu nhi: Thế Giới Khủng Long</a></h3>
		    						<div class="d-flex">
		    							<div class="pricing">
				    						<p class="price"><span>65.000 VND</span></p>
				    					</div>
				    					<div class="rating">
			    							<p class="text-right">
			    								<span class="ion-ios-star-outline"></span>
			    								<span class="ion-ios-star-outline"></span>
			    								<span class="ion-ios-star-outline"></span>
			    								<span class="ion-ios-star-outline"></span>
			    								<span class="ion-ios-star-outline"></span>
			    							</p>
			    						</div>
			    					</div>
		    					</div>
		    				</div>
	    				</div>
	    				<div class="item">
		    				<div class="product">
		    					<a href="#" class="img-prod"><img class="img-fluid" src="/homepage/images/book5.jpg" alt="Colorlib Template">
			    					<span class="status">30%</span>
			    				</a>
		    					<div class="text pt-3 px-3">
		    						<h3><a href="#">Combo 2 Sách Kỹ Năng</a></h3>
		    						<div class="d-flex">
		    							<div class="pricing">
			    							<p class="price"><span class="mr-2 price-dc">200.000</span><span class="price-sale">185.000 VND</span></p>
			    						</div>
			    						<div class="rating">
			    							<p class="text-right">
			    								<span class="ion-ios-star-outline"></span>
			    								<span class="ion-ios-star-outline"></span>
			    								<span class="ion-ios-star-outline"></span>
			    								<span class="ion-ios-star-outline"></span>
			    								<span class="ion-ios-star-outline"></span>
			    							</p>
			    						</div>
		    						</div>
		    					</div>
		    				</div>
	    				</div>
	    				<div class="item">
		    				<div class="product">
		    					<a href="#" class="img-prod"><img class="img-fluid" src="/homepage/images/book6.jpg" alt="Colorlib Template"></a>
		    					<div class="text pt-3 px-3">
		    						<h3><a href="#">Khủng Hoảng Tài Chính: Zero Hour</a></h3>
		    						<div class="d-flex">
		    							<div class="pricing">
				    						<p class="price"><span>125.000 VND</span></p>
				    					</div>
				    					<div class="rating">
			    							<p class="text-right">
			    								<span class="ion-ios-star-outline"></span>
			    								<span class="ion-ios-star-outline"></span>
			    								<span class="ion-ios-star-outline"></span>
			    								<span class="ion-ios-star-outline"></span>
			    								<span class="ion-ios-star-outline"></span>
			    							</p>
			    						</div>
			    					</div>
		    					</div>
		    				</div>
	    				</div>
    				</div>
    			</div>
    		</div>
    	</div>
    </section>

	<section class="ftco-section ftco-product" id="liked">
			<div class="container">
				<div class="row justify-content-center mb-3 pb-3">
			  <div class="col-md-12 heading-section text-center ftco-animate">
				  <h1 class="big">Yêu thích nhất</h1>
				<h2 class="mb-4">Sách được yêu thích nhất</h2>
			</div>
        </div>
    		<div class="row">
    			<div class="col-md-12">
    				<div class="product-slider owl-carousel ftco-animate">
    					<div class="item">
		    				<div class="product">
		    					<a href="#" class="img-prod"><img class="img-fluid" src="/homepage/images/top-book20.jpg" alt="Colorlib Template">

		    					</a>
		    					<div class="text pt-3 px-3">
		    						<h3><a href="#">Truyện Tranh Nhi Đồng - Doraemon (Tập 13)</a></h3>
		    						<div class="d-flex">
		    							<div class="pricing">
			    							<p class="price">15.000 VND</p>
			    						</div>
			    						<div class="rating">
			    							<p class="text-right">
			    								<span class="ion-ios-star-outline" style="color: red"></span>
			    								<span class="ion-ios-star-outline" style="color: red"></span>
			    								<span class="ion-ios-star-outline" style="color: red"></span>
			    								<span class="ion-ios-star-outline" style="color: red"></span>
			    								<span class="ion-ios-star-outline" style="color: red"></span>
			    							</p>
			    						</div>
		    						</div>
		    					</div>
		    				</div>
	    				</div>
	    				<div class="item">
		    				<div class="product">
		    					<a href="#" class="img-prod"><img class="img-fluid" src="/homepage/images/top-book14.jpg" alt="Colorlib Template"></a>
		    					<div class="text pt-3 px-3">
		    						<h3><a href="#">Mây Họa Ánh Trăng</a></h3>
		    						<div class="d-flex">
		    							<div class="pricing">
				    						<p class="price"><span>80.000 VND</span></p>
				    					</div>
				    					<div class="rating">
			    							<p class="text-right">
			    								<span class="ion-ios-star-outline" style="color: red"></span>
			    								<span class="ion-ios-star-outline" style="color: red"></span>
			    								<span class="ion-ios-star-outline" style="color: red"></span>
			    								<span class="ion-ios-star-outline" style="color: red"></span>
			    								<span class="ion-ios-star-outline" style="color: red"></span>
			    							</p>
			    						</div>
			    					</div>
		    					</div>
		    				</div>
	    				</div>
	    				<div class="item">
		    				<div class="product">
		    					<a href="#" class="img-prod"><img class="img-fluid" src="/homepage/images/top-book16.jpg" alt="Colorlib Template"></a>
		    					<div class="text pt-3 px-3">
		    						<h3><a href="#">Hộp Sách: Những Tháng Năm Tuổi Trẻ</a></h3>
		    						<div class="d-flex">
		    							<div class="pricing">
				    						<p class="price"><span>120.000 VND</span></p>
				    					</div>
				    					<div class="rating">
			    							<p class="text-right">
			    								<span class="ion-ios-star-outline" style="color: red"></span>
			    								<span class="ion-ios-star-outline" style="color: red"></span>
			    								<span class="ion-ios-star-outline" style="color: red"></span>
			    								<span class="ion-ios-star-outline" style="color: red"></span>
			    								<span class="ion-ios-star-outline"></span>
			    							</p>
			    						</div>
			    					</div>
		    					</div>
		    				</div>
	    				</div>
	    				<div class="item">
		    				<div class="product">
		    					<a href="#" class="img-prod"><img class="img-fluid" src="/homepage/images/top-book11.png" alt="Colorlib Template"></a>
		    					<div class="text pt-3 px-3">
		    						<h3><a href="#">Sách Của Những Câu Hỏi</a></h3>
		    						<div class="d-flex">
		    							<div class="pricing">
				    						<p class="price"><span>130.000 VND</span></p>
				    					</div>
				    					<div class="rating">
			    							<p class="text-right">
			    								<span class="ion-ios-star-outline" style="color: red"></span>
			    								<span class="ion-ios-star-outline" style="color: red"></span>
			    								<span class="ion-ios-star-outline" style="color: red"></span>
			    								<span class="ion-ios-star-outline" style="color: red"></span>
			    								<span class="ion-ios-star-outline"></span>
			    							</p>
			    						</div>
			    					</div>
		    					</div>
		    				</div>
	    				</div>
						<div class="item">
		    				<div class="product">
		    					<a href="#" class="img-prod"><img class="img-fluid" src="/homepage/images/top-book12.jpg" alt="Colorlib Template"></a>
		    					<div class="text pt-3 px-3">
		    						<h3><a href="#">Tây Du Ký</a></h3>
		    						<div class="d-flex">
		    							<div class="pricing">
				    						<p class="price"><span>105.000 VND	</span></p>
				    					</div>
				    					<div class="rating">
			    							<p class="text-right">
			    								<span class="ion-ios-star-outline" style="color: red"></span>
			    								<span class="ion-ios-star-outline" style="color: red"></span>
			    								<span class="ion-ios-star-outline" style="color: red"></span>
			    								<span class="ion-ios-star-outline" style="color: red"></span>
			    								<span class="ion-ios-star-outline"></span>
			    							</p>
			    						</div>
			    					</div>
		    					</div>
		    				</div>
	    				</div>
    		
	    				<div class="item">
		    				<div class="product">
		    					<a href="#" class="img-prod"><img class="img-fluid" src="/homepage/images/top-book13.jpg" alt="Colorlib Template"></a>
		    					<div class="text pt-3 px-3">
		    						<h3><a href="#">Combo 6 Sách Từ Phim</a></h3>
		    						<div class="d-flex">
		    							<div class="pricing">
				    						<p class="price"><span>205.000 VND	</span></p>
				    					</div>
				    					<div class="rating">
			    							<p class="text-right">
			    								<span class="ion-ios-star-outline" style="color: red"></span>
			    								<span class="ion-ios-star-outline" style="color: red"></span>
			    								<span class="ion-ios-star-outline" style="color: red"></span>
			    								<span class="ion-ios-star-outline" style="color: red"></span>
			    								<span class="ion-ios-star-outline" style="color: red"></span>
			    							</p>
			    						</div>
			    					</div>
		    					</div>
		    				</div>
	    				</div>
    				</div>
    			</div>
    		</div>
    	</div>
    </section>

		<section class="ftco-section ftco-product" id="seller">
				<div class="container">
					<div class="row justify-content-center mb-3 pb-3">
				  <div class="col-md-12 heading-section text-center ftco-animate">
					  <h1 class="big">Bán chạy nhất</h1>
					<h2 class="mb-4">Sách bán chạy nhất</h2>
				  </div>
				</div>
					<div class="row">
						<div class="col-md-12">
							<div class="product-slider owl-carousel ftco-animate">
								<div class="item">
									<div class="product">
										<a href="#" class="img-prod"><img class="img-fluid" src="/homepage/images/top-book14.jpg" alt="Colorlib Template">
											
										</a>
										<div class="text pt-3 px-3">
											<h3><a href="#">Mây Họa Ánh Trăng</a></h3>
											<div class="d-flex">
												<div class="pricing">
													<p class="price"><span>80.000 VND</span></p>
												</div>
												<div class="rating">
													<p class="text-right">
														<span class="ion-ios-star-outline"></span>
														<span class="ion-ios-star-outline"></span>
														<span class="ion-ios-star-outline"></span>
														<span class="ion-ios-star-outline"></span>
														<span class="ion-ios-star-outline"></span>
													</p>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="item">
									<div class="product">
										<a href="#" class="img-prod"><img class="img-fluid" src="/homepage/images/top-book15.jpg" alt="Colorlib Template"></a>
										<div class="text pt-3 px-3">
											<h3><a href="#">W- Hai Thế Giới</a></h3>
											<div class="d-flex">
												<div class="pricing">
													<p class="price"><span>71.000 VND</span></p>
												</div>
												<div class="rating">
													<p class="text-right">
														<span class="ion-ios-star-outline"></span>
														<span class="ion-ios-star-outline"></span>
														<span class="ion-ios-star-outline"></span>
														<span class="ion-ios-star-outline"></span>
														<span class="ion-ios-star-outline"></span>
													</p>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="item">
									<div class="product">
										<a href="#" class="img-prod"><img class="img-fluid" src="/homepage/images/top-book16.jpg" alt="Colorlib Template"></a>
										<div class="text pt-3 px-3">
											<h3><a href="#">Hộp Sách: Những Tháng Năm Tuổi Trẻ</a></h3>
											<div class="d-flex">
												<div class="pricing">
													<p class="price"><span>120.00 VND</span></p>
												</div>
												<div class="rating">
													<p class="text-right">
														<span class="ion-ios-star-outline"></span>
														<span class="ion-ios-star-outline"></span>
														<span class="ion-ios-star-outline"></span>
														<span class="ion-ios-star-outline"></span>
														<span class="ion-ios-star-outline"></span>
													</p>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="item">
									<div class="product">
										<a href="#" class="img-prod"><img class="img-fluid" src="/homepage/images/top-book17.jpg" alt="Colorlib Template"></a>
										<div class="text pt-3 px-3">
											<h3><a href="#">Trần Văn Ơn (Series Sách Đoàn Giỏi)	</a></h3>
											<div class="d-flex">
												<div class="pricing">
													<p class="price"><span>24.000 VND</span></p>
												</div>
												<div class="rating">
													<p class="text-right">
														<span class="ion-ios-star-outline"></span>
														<span class="ion-ios-star-outline"></span>
														<span class="ion-ios-star-outline"></span>
														<span class="ion-ios-star-outline"></span>
														<span class="ion-ios-star-outline"></span>
													</p>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="item">
									<div class="product">
										<a href="#" class="img-prod"><img class="img-fluid" src="/homepage/images/top-book18.jpg" alt="Colorlib Template">
											<span class="status">30%</span>
										</a>
										<div class="text pt-3 px-3">
											<h3><a href="#">Phục Hồi</a></h3>
											<div class="d-flex">
												<div class="pricing">
													<p class="price"><span class="mr-2 price-dc">100.000</span><span class="price-sale">75.000VND</span></p>
												</div>
												<div class="rating">
													<p class="text-right">
														<span class="ion-ios-star-outline"></span>
														<span class="ion-ios-star-outline"></span>
														<span class="ion-ios-star-outline"></span>
														<span class="ion-ios-star-outline"></span>
														<span class="ion-ios-star-outline"></span>
													</p>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="item">
									<div class="product">
										<a href="#" class="img-prod"><img class="img-fluid" src="/homepage/images/top-book19.jpg" alt="Colorlib Template"></a>
										<div class="text pt-3 px-3">
											<h3><a href="#">Hộp Sách Tam Quốc Diễn Nghĩa (3 Cuốn)</a></h3>
											<div class="d-flex">
												<div class="pricing">
													<p class="price"><span>400.000 VND</span></p>
												</div>
												<div class="rating">
													<p class="text-right">
														<span class="ion-ios-star-outline"></span>
														<span class="ion-ios-star-outline"></span>
														<span class="ion-ios-star-outline"></span>
														<span class="ion-ios-star-outline"></span>
														<span class="ion-ios-star-outline"></span>
													</p>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
		

    <section class="ftco-section bg-info"id="store">
    	<div class="container">
					
				<div class="row justify-content-center mb-3 pb-3" >
          <div class="col-md-12 heading-section text-center ftco-animate">
          	<h1 class="big">Kho sách</h1>
            <h2 class="mb-4">Kho sách</h2>
          </div>
        </div>    		
		</div>
		<ul class="product-filter-menu ftco-animate">
			<div class="container-kind">
					<div class="row">			
						
			<li><a href="#">Chính trị-Pháp luật</a></li>
			<li><a href="#">Khoa học công nghệ-Kinh tế</a></li>
			<li><a href="#">Văn hóa xã hội-Lịch sử</a></li>
			<li><a href="#">Văn học nghệ thuật</a></li>
			<li><a class="vu" href="#">Giáo trình</a></li>
			<li><a href="#">Truyện, tiểu thuyết</a></li>
			<li ><a href="#">Tâm lý, tâm linh, tôn giáo</a></li>
			<li ><a href="#">Sách thiếu nhi</a></li>
		</ul>
			
			</div>
		</div>
    	<div class="container-fluid">
    		<div class="row">
				
    			<div class="col-lg-3 col-sm-6 ftco-animate">
    				<div class="product">
    					<a href="#" class="img-prod"><img class="img-fluid store" src="/homepage/images/book-store1.gif" alt="Colorlib Template"></a>
    					<div class="text py-3 px-3">
    						<h3><a href="#">Sách thiên cơ</a></h3>
    						<div class="d-flex">
    							<div class="pricing">
		    						<p class="price"><span>120.000 VND</span></p>
		    					</div>
		    					<div class="rating">
	    							<p class="text-right">
	    								<span class="ion-ios-star-outline"  style="color: red;"></span>
	    								<span class="ion-ios-star-outline"></span>
	    								<span class="ion-ios-star-outline"></span>
	    								<span class="ion-ios-star-outline"></span>
	    								<span class="ion-ios-star-outline"></span>
	    							</p>
	    						</div>
	    					</div>
	    					<hr>
    						<p class="bottom-area d-flex">
    							<a href="#" class="add-to-cart"><span>Add to cart <i class="ion-ios-add ml-1"></i></span></a>
    							<a href="#" class="ml-auto"><span><i class="ion-ios-heart-empty"></i></span></a>
    						</p>
    					</div>
    				</div>
					</div>
					
    			<div class="col-lg-3 col-sm-6 ftco-animate">
    				<div class="product">
    					<a href="#" class="img-prod"><img class="img-fluid store" src="/homepage/images/book5.jpg" alt="Colorlib Template"></a>
    					<div class="text py-3 px-3">
    						<h3><a href="#">Combo 2 Sách Kỹ Năng</a></h3>
    						<div class="d-flex">
    							<div class="pricing">
		    						<p class="price"><span>185.000 VND</span></p>
		    					</div>
		    					<div class="rating">
	    							<p class="text-right">
	    								<span class="ion-ios-star-outline" ></span>
	    								<span class="ion-ios-star-outline"></span>
	    								<span class="ion-ios-star-outline"></span>
	    								<span class="ion-ios-star-outline"></span>
	    								<span class="ion-ios-star-outline"></span>
	    							</p>
	    						</div>
	    					</div>
	    					<hr>
    						<p class="bottom-area d-flex">
    							<a href="#" class="add-to-cart"><span>Add to cart <i class="ion-ios-add ml-1"></i></span></a>
    							<a href="#" class="ml-auto"><span><i class="ion-ios-heart-empty"></i></span></a>
    						</p>
    					</div>
    				</div>
					</div>
					
    			<div class="col-lg-3 col-sm-6 ftco-animate">
    				<div class="product">
    					<a href="#" class="img-prod"><img class="img-fluid store" src="/homepage/images/book-store2.gif" alt="Colorlib Template"></a>
    					<div class="text py-3 px-3">
    						<h3><a href="#">Kẻ Trộm Sách</a></h3>
    						<div class="d-flex">
    							<div class="pricing">
		    						<p class="price"><span>90.000 VND</span></p>
		    					</div>
		    					<div class="rating">
	    							<p class="text-right">
	    								<span class="ion-ios-star-outline"></span>
	    								<span class="ion-ios-star-outline"></span>
	    								<span class="ion-ios-star-outline"></span>
	    								<span class="ion-ios-star-outline"></span>
	    								<span class="ion-ios-star-outline"></span>
	    							</p>
	    						</div>
	    					</div>
	    					<hr>
    						<p class="bottom-area d-flex">
    							<a href="#" class="add-to-cart"><span>Add to cart <i class="ion-ios-add ml-1"></i></span></a>
    							<a href="#" class="ml-auto"><span><i class="ion-ios-heart-empty"></i></span></a>
    						</p>
    					</div>
    				</div>
				</div>
				
				<div class="col-lg-3 col-sm-6 ftco-animate">
    				<div class="product">
    					<a href="#" class="img-prod"><img class="img-fluid store" src="/homepage/images/book-store3.gif" alt="Colorlib Template"></a>
    					<div class="text py-3 px-3">
    						<h3><a href="#">Sách Khoa Học: Những Câu Hỏi Tại Sao</a></h3>
    						<div class="d-flex">
    							<div class="pricing">
		    						<p class="price"><span>89.000 VND</span></p>
		    					</div>
		    					<div class="rating">
	    							<p class="text-right">
	    								<span class="ion-ios-star-outline"></span>
	    								<span class="ion-ios-star-outline"></span>
	    								<span class="ion-ios-star-outline"></span>
	    								<span class="ion-ios-star-outline"></span>
	    								<span class="ion-ios-star-outline"></span>
	    							</p>
	    						</div>
	    					</div>
	    					<hr>
    						<p class="bottom-area d-flex">
    							<a href="#" class="add-to-cart"><span>Add to cart <i class="ion-ios-add ml-1"></i></span></a>
    							<a href="#" class="ml-auto"><span><i class="ion-ios-heart-empty"></i></span></a>
    						</p>
    					</div>
    				</div>
					</div>
    	
					
				<div class="col-lg-3 col-sm-6 ftco-animate">
    				<div class="product">
    					<a href="#" class="img-prod"><img class="img-fluid store" src="/homepage/images/book-store4.jpg" alt="Colorlib Template"></a>
    					<div class="text py-3 px-3">
    						<h3><a href="#">Combo SGK lớp 3</a></h3>
    						<div class="d-flex">
    							<div class="pricing">
		    						<p class="price"><span>$189.000 VND</span></p>
		    					</div>
		    					<div class="rating">
	    							<p class="text-right">
	    								<span class="ion-ios-star-outline"></span>
	    								<span class="ion-ios-star-outline"></span>
	    								<span class="ion-ios-star-outline"></span>
	    								<span class="ion-ios-star-outline"></span>
	    								<span class="ion-ios-star-outline"></span>
	    							</p>
	    						</div>
	    					</div>
	    					<hr>
    						<p class="bottom-area d-flex">
    							<a href="#" class="add-to-cart"><span>Add to cart <i class="ion-ios-add ml-1"></i></span></a>
    							<a href="#" class="ml-auto"><span><i class="ion-ios-heart-empty"></i></span></a>
    						</p>
    					</div>
    				</div>
    			</div>

				<div class="col-lg-3 col-sm-6 ftco-animate">
    				<div class="product">
    					<a href="#" class="img-prod"><img class="img-fluid store" src="/homepage/images/book-store12.gif" alt="Colorlib Template"></a>
    					<div class="text py-3 px-3">
    						<h3><a href="#">Trò Chuyện Khoa Học Và Giáo Dục</a></h3>
    						<div class="d-flex">
    							<div class="pricing">
		    						<p class="price"><span>150.000 VND</span></p>
		    					</div>
		    					<div class="rating">
	    							<p class="text-right">
	    								<span class="ion-ios-star-outline"></span>
	    								<span class="ion-ios-star-outline"></span>
	    								<span class="ion-ios-star-outline"></span>
	    								<span class="ion-ios-star-outline"></span>
	    								<span class="ion-ios-star-outline"></span>
	    							</p>
	    						</div>
	    					</div>
	    					<hr>
    						<p class="bottom-area d-flex">
    							<a href="#" class="add-to-cart"><span>Add to cart <i class="ion-ios-add ml-1"></i></span></a>
    							<a href="#" class="ml-auto"><span><i class="ion-ios-heart-empty"></i></span></a>
    						</p>
    					</div>
    				</div>
				</div>
				
				<div class="col-lg-3 col-sm-6 ftco-animate">
    				<div class="product">
    					<a href="#" class="img-prod"><img class="img-fluid store" src="/homepage/images/conan75.gif" alt="Colorlib Template"></a>
    					<div class="text py-3 px-3">
    						<h3><a href="#">Truyện Tranh Thiếu Nhi: Conan - tập 75</a></h3>
    						<div class="d-flex">
    							<div class="pricing">
		    						<p class="price"><span>20.000 VND</span></p>
		    					</div>
		    					<div class="rating">
	    							<p class="text-right">
	    								<span class="ion-ios-star-outline"></span>
	    								<span class="ion-ios-star-outline"></span>
	    								<span class="ion-ios-star-outline"></span>
	    								<span class="ion-ios-star-outline"></span>
	    								<span class="ion-ios-star-outline"></span>
	    							</p>
	    						</div>
	    					</div>
	    					<hr>
    						<p class="bottom-area d-flex">
    							<a href="#" class="add-to-cart"><span>Add to cart <i class="ion-ios-add ml-1"></i></span></a>
    							<a href="#" class="ml-auto"><span><i class="ion-ios-heart-empty"></i></span></a>
    						</p>
    					</div>
    				</div>
				</div>
				
				<div class="col-lg-3 col-sm-6 ftco-animate ">
    				<div class="product">
    					<a href="#" class="img-prod"><img class="img-fluid store" src="/homepage/images/conan78.gif" alt="Colorlib Template"></a>
    					<div class="text py-3 px-3">
    						<h3><a href="#">Truyện Tranh Thiếu Nhi: Conan - tập 78</a></h3>
    						<div class="d-flex">
    							<div class="pricing">
		    						<p class="price"><span>20.000 VND</span></p>
		    					</div>
		    					<div class="rating">
	    							<p class="text-right">
	    								<span class="ion-ios-star-outline"></span>
	    								<span class="ion-ios-star-outline"></span>
	    								<span class="ion-ios-star-outline"></span>
	    								<span class="ion-ios-star-outline"></span>
	    								<span class="ion-ios-star-outline"></span>
	    							</p>
	    						</div>
	    					</div>
	    					<hr>
    						<p class="bottom-area d-flex">
    							<a href="#" class="add-to-cart"><span>Add to cart <i class="ion-ios-add ml-1"></i></span></a>
    							<a href="#" class="ml-auto"><span><i class="ion-ios-heart-empty"></i></span></a>
    						</p>
    					</div>
    				</div>
				</div>
				
				<div class="col-lg-3 col-sm-6 ftco-animate hidden">
    				<div class="product">
    					<a href="#" class="img-prod"><img class="img-fluid store" src="/homepage/images/doremon10.gif" alt="Colorlib Template"></a>
    					<div class="text py-3 px-3">
    						<h3><a href="#">Truyện Tranh Thiếu Nhi: Doraemon - tập 10</a></h3>
    						<div class="d-flex">
    							<div class="pricing">
		    						<p class="price"><span>20.000 VND</span></p>
		    					</div>
		    					<div class="rating">
	    							<p class="text-right">
	    								<span class="ion-ios-star-outline"></span>
	    								<span class="ion-ios-star-outline"></span>
	    								<span class="ion-ios-star-outline"></span>
	    								<span class="ion-ios-star-outline"></span>
	    								<span class="ion-ios-star-outline"></span>
	    							</p>
	    						</div>
	    					</div>
	    					<hr>
    						<p class="bottom-area d-flex">
    							<a href="#" class="add-to-cart"><span>Add to cart <i class="ion-ios-add ml-1"></i></span></a>
    							<a href="#" class="ml-auto"><span><i class="ion-ios-heart-empty"></i></span></a>
    						</p>
    					</div>
    				</div>
				</div>
				

				<div class="col-lg-3 col-sm-6 ftco-animate hidden">
    				<div class="product">
    					<a href="#" class="img-prod"><img class="img-fluid store" src="/homepage/images/book1.jpg" alt="Colorlib Template"></a>
    					<div class="text py-3 px-3">
    						<h3><a href="#">Sự Cứu Rỗi Của Thánh Nữ</a></h3>
    						<div class="d-flex">
    							<div class="pricing">
		    						<p class="price"><span>$135.000 VND</span></p>
		    					</div>
		    					<div class="rating">
	    							<p class="text-right">
	    								<span class="ion-ios-star-outline"></span>
	    								<span class="ion-ios-star-outline"></span>
	    								<span class="ion-ios-star-outline"></span>
	    								<span class="ion-ios-star-outline"></span>
	    								<span class="ion-ios-star-outline"></span>
	    							</p>
	    						</div>
	    					</div>
	    					<hr>
    						<p class="bottom-area d-flex">
    							<a href="#" class="add-to-cart"><span>Add to cart <i class="ion-ios-add ml-1"></i></span></a>
    							<a href="#" class="ml-auto"><span><i class="ion-ios-heart-empty"></i></span></a>
    						</p>
    					</div>
    				</div>
				</div>
				

				<div class="col-lg-3 col-sm-6 ftco-animate hidden">
    				<div class="product">
    					<a href="#" class="img-prod"><img class="img-fluid store" src="/homepage/images/book2.png" alt="Colorlib Template"></a>
    					<div class="text py-3 px-3">
    						<h3><a href="#">Combo 2 Sách: Thư Gửi Tương Lai</a></h3>
    						<div class="d-flex">
    							<div class="pricing">
		    						<p class="price"><span>200.000 VND</span></p>
		    					</div>
		    					<div class="rating">
	    							<p class="text-right">
	    								<span class="ion-ios-star-outline"></span>
	    								<span class="ion-ios-star-outline"></span>
	    								<span class="ion-ios-star-outline"></span>
	    								<span class="ion-ios-star-outline"></span>
	    								<span class="ion-ios-star-outline"></span>
	    							</p>
	    						</div>
	    					</div>
	    					<hr>
    						<p class="bottom-area d-flex">
    							<a href="#" class="add-to-cart"><span>Add to cart <i class="ion-ios-add ml-1"></i></span></a>
    							<a href="#" class="ml-auto"><span><i class="ion-ios-heart-empty"></i></span></a>
    						</p>
    					</div>
    				</div>
				</div>
				

				<div class="col-lg-3 col-sm-6 ftco-animate hidden">
    				<div class="product">
    					<a href="#" class="img-prod"><img class="img-fluid store" src="/homepage/images/book3.jpg" alt="Colorlib Template"></a>
    					<div class="text py-3 px-3">
    						<h3><a href="#">The Pragmatic Programmer</a></h3>
    						<div class="d-flex">
    							<div class="pricing">
		    						<p class="price"><span>119.000 VND</span></p>
		    					</div>
		    					<div class="rating">
	    							<p class="text-right">
	    								<span class="ion-ios-star-outline"></span>
	    								<span class="ion-ios-star-outline"></span>
	    								<span class="ion-ios-star-outline"></span>
	    								<span class="ion-ios-star-outline"></span>
	    								<span class="ion-ios-star-outline"></span>
	    							</p>
	    						</div>
	    					</div>
	    					<hr>
    						<p class="bottom-area d-flex">
    							<a href="#" class="add-to-cart"><span>Add to cart <i class="ion-ios-add ml-1"></i></span></a>
    							<a href="#" class="ml-auto"><span><i class="ion-ios-heart-empty"></i></span></a>
    						</p>
    					</div>
    				</div>
				</div>
				

				<div class="col-lg-3 col-sm-6 ftco-animate hidden">
    				<div class="product">
    					<a href="#" class="img-prod"><img class="img-fluid store" src="/homepage/images/book4.jpg" alt="Colorlib Template"></a>
    					<div class="text py-3 px-3">
    						<h3><a href="#">Sách thiếu nhi: Thế Giới Khủng Long</a></h3>
    						<div class="d-flex">
    							<div class="pricing">
		    						<p class="price"><span>65.000 VND</span></p>
		    					</div>
		    					<div class="rating">
	    							<p class="text-right">
	    								<span class="ion-ios-star-outline"></span>
	    								<span class="ion-ios-star-outline"></span>
	    								<span class="ion-ios-star-outline"></span>
	    								<span class="ion-ios-star-outline"></span>
	    								<span class="ion-ios-star-outline"></span>
	    							</p>
	    						</div>
	    					</div>
	    					<hr>
    						<p class="bottom-area d-flex">
    							<a href="#" class="add-to-cart"><span>Add to cart <i class="ion-ios-add ml-1"></i></span></a>
    							<a href="#" class="ml-auto"><span><i class="ion-ios-heart-empty"></i></span></a>
    						</p>
    					</div>
    				</div>
				</div>
				
				<div class="col-lg-3 col-sm-6 ftco-animate hidden ">
						<div class="product">
							<a href="#" class="img-prod"><img class="img-fluid store" src="/homepage/images/book-store10.1.png" alt="Colorlib Template"></a>
							<div class="text py-3 px-3">
								<h3><a href="#"><p>AQ Chính Truyện                                          </p></a></h3>
								<div class="d-flex">
									<div class="pricing">
										<p class="price"><span>78.000 VND</span></p>
									</div>
									<div class="rating">
										<p class="text-right">
											<span class="ion-ios-star-outline"></span>
											<span class="ion-ios-star-outline"></span>
											<span class="ion-ios-star-outline"></span>
											<span class="ion-ios-star-outline"></span>
											<span class="ion-ios-star-outline"></span>
										</p>
									</div>
								</div>
								<hr>
								<p class="bottom-area d-flex">
									<a href="#" class="add-to-cart"><span>Add to cart <i class="ion-ios-add ml-1"></i></span></a>
									<a href="#" class="ml-auto"><span><i class="ion-ios-heart-empty"></i></span></a>
								</p>
							</div>
						</div>
					</div>

					<div class="col-lg-3 col-sm-6 ftco-animate hidden ">
							<div class="product">
								<a href="#" class="img-prod"><img class="img-fluid store" src="/homepage/images/book-store10.2.png" alt="Colorlib Template"></a>
								<div class="text py-3 px-3">
									<h3><a href="#">Cẩm Nang Phượt: Bạn Cần Kỹ Năng Sống Còn Nào?</a></h3>
									<div class="d-flex">
										<div class="pricing">
											<p class="price"><span>55.000 VND</span></p>
										</div>
										<div class="rating">
											<p class="text-right">
												<span class="ion-ios-star-outline"></span>
												<span class="ion-ios-star-outline"></span>
												<span class="ion-ios-star-outline"></span>
												<span class="ion-ios-star-outline"></span>
												<span class="ion-ios-star-outline"></span>
											</p>
										</div>
									</div>
									<hr>
									<p class="bottom-area d-flex">
										<a href="#" class="add-to-cart"><span>Add to cart <i class="ion-ios-add ml-1"></i></span></a>
										<a href="#" class="ml-auto"><span><i class="ion-ios-heart-empty"></i></span></a>
									</p>
								</div>
							</div>
						</div>

						<div class="col-lg-3 col-sm-6 ftco-animate hidden ">
								<div class="product">
									<a href="#" class="img-prod"><img class="img-fluid store" src="/homepage/images/book-store10.3.png" alt="Colorlib Template"></a>
									<div class="text py-3 px-3">
										<h3><a href="#">Cẩm Nang Tư Duy Lịch Sử</a></h3>
										<div class="d-flex">
											<div class="pricing">
												<p class="price"><span>60.000 VND</span></p>
											</div>
											<div class="rating">
												<p class="text-right">
													<span class="ion-ios-star-outline"></span>
													<span class="ion-ios-star-outline"></span>
													<span class="ion-ios-star-outline"></span>
													<span class="ion-ios-star-outline"></span>
													<span class="ion-ios-star-outline"></span>
												</p>
											</div>
										</div>
										<hr>
										<p class="bottom-area d-flex">
											<a href="#" class="add-to-cart"><span>Add to cart <i class="ion-ios-add ml-1"></i></span></a>
											<a href="#" class="ml-auto"><span><i class="ion-ios-heart-empty"></i></span></a>
										</p>
									</div>
								</div>
							</div>


							<div class="col-lg-3 col-sm-6 ftco-animate hidden ">
									<div class="product">
										<a href="#" class="img-prod"><img class="img-fluid store" src="/homepage/images/book-store10.4.png" alt="Colorlib Template"></a>
										<div class="text py-3 px-3">
											<h3><a href="#">Cảm Xúc Là Kẻ Thù Số Một Của Thành Công</a></h3>
											<div class="d-flex">
												<div class="pricing">
													<p class="price"><span>100.000 VND</span></p>
												</div>
												<div class="rating">
													<p class="text-right">
														<span class="ion-ios-star-outline"></span>
														<span class="ion-ios-star-outline"></span>
														<span class="ion-ios-star-outline"></span>
														<span class="ion-ios-star-outline"></span>
														<span class="ion-ios-star-outline"></span>
													</p>
												</div>
											</div>
											<hr>
											<p class="bottom-area d-flex">
												<a href="#" class="add-to-cart"><span>Add to cart <i class="ion-ios-add ml-1"></i></span></a>
												<a href="#" class="ml-auto"><span><i class="ion-ios-heart-empty"></i></span></a>
											</p>
										</div>
									</div>
								</div>

								
							<div class="col-lg-3 col-sm-6 ftco-animate hidden ">
									<div class="product">
										<a href="#" class="img-prod"><img class="img-fluid store" src="/homepage/images/book-store10.5.png" alt="Colorlib Template"></a>
										<div class="text py-3 px-3">
											<h3><a href="#">Code Complete 2</a></h3>
											<div class="d-flex">
												<div class="pricing">
													<p class="price"><span>189.000 VND</span></p>
												</div>
												<div class="rating">
													<p class="text-right">
														<span class="ion-ios-star-outline"></span>
														<span class="ion-ios-star-outline"></span>
														<span class="ion-ios-star-outline"></span>
														<span class="ion-ios-star-outline"></span>
														<span class="ion-ios-star-outline"></span>
													</p>
												</div>
											</div>
											<hr>
											<p class="bottom-area d-flex">
												<a href="#" class="add-to-cart"><span>Add to cart <i class="ion-ios-add ml-1"></i></span></a>
												<a href="#" class="ml-auto"><span><i class="ion-ios-heart-empty"></i></span></a>
											</p>
										</div>
									</div>
								</div>

								
							<div class="col-lg-3 col-sm-6 ftco-animate hidden ">
									<div class="product">
										<a href="#" class="img-prod"><img class="img-fluid store" src="/homepage/images/book-store10.6.png" alt="Colorlib Template"></a>
										<div class="text py-3 px-3">
											<h3><a href="#">Nếu Không Là Tình Yêu</a></h3>
											<div class="d-flex">
												<div class="pricing">
													<p class="price"><span>87.000 VND</span></p>
												</div>
												<div class="rating">
													<p class="text-right">
														<span class="ion-ios-star-outline"></span>
														<span class="ion-ios-star-outline"></span>
														<span class="ion-ios-star-outline"></span>
														<span class="ion-ios-star-outline"></span>
														<span class="ion-ios-star-outline"></span>
													</p>
												</div>
											</div>
											<hr>
											<p class="bottom-area d-flex">
												<a href="#" class="add-to-cart"><span>Add to cart <i class="ion-ios-add ml-1"></i></span></a>
												<a href="#" class="ml-auto"><span><i class="ion-ios-heart-empty"></i></span></a>
											</p>
										</div>
									</div>
								</div>

								
							<div class="col-lg-3 col-sm-6 ftco-animate hidden ">
									<div class="product">
										<a href="#" class="img-prod"><img class="img-fluid store" src="/homepage/images/book-store10.7.png" alt="Colorlib Template"></a>
										<div class="text py-3 px-3">
											<h3><a href="#">Usborne Look Inside Our World</a></h3>
											<div class="d-flex">
												<div class="pricing">
													<p class="price"><span>20.000 VND</span></p>
												</div>
												<div class="rating">
													<p class="text-right">
														<span class="ion-ios-star-outline"></span>
														<span class="ion-ios-star-outline"></span>
														<span class="ion-ios-star-outline"></span>
														<span class="ion-ios-star-outline"></span>
														<span class="ion-ios-star-outline"></span>
													</p>
												</div>
											</div>
											<hr>
											<p class="bottom-area d-flex">
												<a href="#" class="add-to-cart"><span>Add to cart <i class="ion-ios-add ml-1"></i></span></a>
												<a href="#" class="ml-auto"><span><i class="ion-ios-heart-empty"></i></span></a>
											</p>
										</div>
									</div>
								</div>


    		</div>
			</div>
			<div class="text-center pt-5">
				<button class="site-btn sb-line sb-dark bg-light" id="loadMore">LOAD MORE</button>
			</div>

	</section>
	
<!-- 
	
    <section class="ftco-section ftco-no-pb ftco-no-pt bg-light">
		<div class="container">
			<div class="row">
				<div class="col-md-5 p-md-5 img img-2 d-flex justify-content-center align-items-center" style="background-image: url(/homepage/images/bg_2.jpg);">
					<a href="https://vimeo.com/45830194" class="icon popup-vimeo d-flex justify-content-center align-items-center">
						<span class="icon-play"></span>
					</a>
				</div>
				<div class="col-md-7 py-5 wrap-about pb-md-5 ftco-animate">
		  <div class="heading-section-bold mb-5 mt-md-5">
			  <div class="ml-md-0">
				<h2 class="mb-4">Modist <br>Online <br> <span>Fashion Shop</span></h2>
			</div>
		  </div>
		  <div class="pb-md-5">
						<p>On her way she met a copy. The copy warned the Little Blind Text, that where it came from it would have been rewritten a thousand times and everything that was left from its origin would be the word "and" and the Little Blind Text should turn around and return to its own, safe country. But nothing the copy said could convince her and so it didn’t take long until a few insidious Copy Writers ambushed her, made her drunk with Longe and Parole and dragged her into their agency, where they abused her for their.</p>
						<p>When she reached the first hills of the Italic Mountains, she had a last view back on the skyline of her hometown Bookmarksgrove, the headline of Alphabet Village and the subline of her own road, the Line Lane. Pityful a rethoric question ran over her cheek, then she continued her way.</p>
					</div>
				</div>
			</div>
		</div>
	</section>

    <section class="ftco-section ftco-section-more img" style="background-image: url(/homepage/images/bg_5.jpg);">
	
			<div class="container">
    		<div class="row justify-content-center mb-3 pb-3">
          <div class="col-md-12 heading-section ftco-animate">
          	<h2>Summer Sale</h2>
          </div>
        </div>
    	</div>
    </section> -->

    <section class="ftco-section testimony-section bg-light">
      <div class="container">
				<div class="row justify-content-center mb-3 pb-3">
          <div class="col-md-12 heading-section text-center ftco-animate">
          	<h1 class="big">Member</h1>
          </div>
        </div>    		
        <div class="row justify-content-center">
          <div class="col-md-8 ftco-animate">
          	<div class="row ftco-animate">
		          <div class="col-md-12">
		            <div class="carousel-testimony owl-carousel ftco-owl">
		              <div class="item">
		                <div class="testimony-wrap py-4 pb-5">
		                  <div class="user-img mb-4" style="background-image: url(/homepage/images/minh.jpg)">
		                   
		                  </div>
		                  <div class="text text-center">
		                    <p class="mb-4">Nhóm trưởng</p>
		                    <p class="name">Hoàng Công Minh</p>
							<span class="position">17520747</span>
							
		                  </div>
		                </div>
		              </div>
		              <div class="item">
		                <div class="testimony-wrap py-4 pb-5">
		                  <div class="user-img mb-4" style="background-image: url(/homepage/images/vu.jpg)">
		                  
		                  </div>
		                  <div class="text text-center">
		                    
		                    <p class="name">Lê Nguyễn Hoàng Vũ</p>
		                    <span class="position">17521270</span> 
		                  </div>
		                </div>
		              </div>
		              <div class="item">
		                <div class="testimony-wrap py-4 pb-5">
		                  <div class="user-img mb-4" style="background-image: url(/homepage/images/nhan.jpg)">
		                   
		                  </div>
		                  <div class="text text-center">
		                    
		                    <p class="name">Phan Lê Trọng Nhân</p>
		                     <span class="position">17520843</span> 
		                  </div>
		                </div>
		              </div>
		            </div>
		          </div>
		        </div>
          </div>
        </div>
      </div>
    </section>


    <footer class="ftco-footer ftco-section">
      <div class="container">
        <div class="row mb-5">
          <div class="col-md">
            <div class="ftco-footer-widget mb-4">
              <h2 class="ftco-heading-2">Liên lạc</h2>
              <ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-5">
                <li class="ftco-animate"><a href="https://www.facebook.com/groups/612329349211062/" target="_blank"><span class="icon-facebook"></span></a></li>
               
              </ul>
            </div>
          </div>
        
         
          <div class="col-md">
            <div class="ftco-footer-widget mb-4">
            	<h2 class="ftco-heading-2">About</h2>
            	<div class="block-23 mb-3">
	              <ul>
	                <li><a href="https://www.google.com/maps/dir/10.8822528,106.78272/tr%C6%B0%E1%BB%9Dng+%C4%91%E1%BA%A1i+h%E1%BB%8Dc+c%C3%B4ng+ngh%E1%BB%87+th%C3%B4ng+tin+Khu+ph%E1%BB%91+6,+ph%C6%B0%E1%BB%9Dng+Linh+Trung,+qu%E1%BA%ADn+Th%E1%BB%A7+%C4%90%E1%BB%A9c,+TP+HCM/@10.875953,106.7757598,14z/data=!3m1!4b1!4m9!4m8!1m1!4e1!1m5!1m1!1s0x317527587e9ad5bf:0xafa66f9c8be3c91!2m2!1d106.8035533!2d10.8701104" target="_blank"></span> <span class="icon icon-map-marker"></span><span class="text">ĐH Công nghệ thông tin, khu phố 6, phường Linh Trung, quận Thủ Đức, TP HCM</span></a></li>
	                <li><a ><span class="icon icon-phone"></span><span class="text">0399 699 977</span></a></li>
	                <li><a  href="https://mail.google.com/mail/u/0/#inbox?compose=new" target="_blank"><span class="icon icon-envelope"></span><span class="text">1752****@gm.uit.edu.vn</span></a></li>
	              </ul>
				</div>
			
            </div>
          </div>
        </div>
       
      </div>
    </footer>
  <!-- loader -->
  <div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00"/></svg></div>

	<% include ./customers/modal-register %>
	<% include ./partials/scripts %>
	
<script>
    let inputFullname = $('input[name="fullname"]');
    let inputPhone = $('input[name="phone"]');
    let inputBirth = $('input[name="birth"]');
    let inputIdCode = $('input[name="idCode"]');
    let inputAddress = $('input[name="address"]');
    let inputEmail = $('input[name="email"]');
    let inputPassword = $('input[name="password"]');

    //validate
    function CheckValidate(listInput) {
      listInput.forEach(element => {
        element.css("border-color", "#E3E3E3");
      });
      for (let element of listInput) {
        if (element.val() == "") {
          element.focus();
          element.css("border-color", "red")
          return { err: true, message: element.attr('data-focus') };
        }
      }
      return { err: false };
    }
    //valide data 
    function CheckValideData() {
      let array = [inputFullname, inputPhone, inputIdCode, inputAddress, inputEmail, inputBirth, inputPassword]
      return (CheckValidate(array));
    }

    function createComponentError(error) {
      return `<div class="alert alert-danger alert-dismissible fade show alert-errorProduct" role="alert">
          <strong>Error!</strong> </br> ${error.responseJSON.message}
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          </div>`
    }


    //register
    $('#register-form').on('submit', (function (e) {
      e.preventDefault();
      let validate = CheckValideData();
      if (validate.err) {
        alert("Please insert " + validate.message);
        return false;
      }
      $.ajax({
        method: 'POST',
        url: `/users/api`,
        data: {
          fullname: inputFullname.val(),
          phone: inputPhone.val(),
          idCode: inputIdCode.val(),
          address: inputAddress.val(),
          email: inputEmail.val(),
          password: inputPassword.val(),
          birth: inputBirth.val()
        },
        success: function (data) {
          alert("Congratulations!!");
          location.reload();
        },
        error: function (err) {
          $('#error-wrapper').prepend(createComponentError(err))
        }
      })
    }));

</script>
  </body>
</html>