<!--  Modal content for the above example -->
<div class="modal fade bs-example-modal-lg" tabindex="-1" id="view-modal" role="dialog" aria-labelledby="view-form"
  aria-hidden="true" style="display: none;">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header b-0">
        <h4 class="modal-title mt-0" id="view-form">PRODUCT</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      </div>
      <div class="modal-body p-0">
          <div class="card o-hidden border-0 shadow-lg my-0 py-4">
              <!-- Nested Row within Card Body -->
                <div class="row">
                  <div class="col-lg-12">
                    <div class="pb-3 px-5">

                      <div class="form-group row">
                        <div class="col-sm-6">
                          <label for="">Tên sách</label>
                          <label id="label-name" class="form-control form-control-user"></label>
                        </div>
                        <div class="col-sm-6">
                            <label for="">Mã sách</label>
                          <label id="label-bookID" class="form-control form-control-user"></label>
                        </div>
                      </div>
                      <div class="form-group row">
                        <div class="col-sm-6">
                            <label for="">Thể loại</label>
                          <label id="label-category" class="form-control form-control-user"></label>
                        </div>
                        <div class="col-sm-6">
                            <label for="">Tác giả</label>
                          <label id="label-author" class="form-control form-control-user"></label>
                        </div>
                      </div>
                      <div class="form-group row">
                        <div class="col-sm-12">
                            <label for="">Đơn giá</label>
                          <label id="label-price" class="form-control form-control-user"></label>
                        </div>
                      </div>
                      <div class="form-group row" id="label-image">
                        
                      </div>
                      <div class="form-group">
                          <label for="">Mô tả chi tiết sách</label>
                        <div id="label-description" class="form-control form-control-user"
                        style=" min-height: 10em; box-sizing: content-box; position: relative; "
                        
                        ></div>
                      </div>
                      <div class="form-group row">
                        <div class="col-sm-10"></div>
                        <div class="col-sm-2">
                          <button data-dismiss="modal" class="btn btn-primary btn-user btn-block">
                            Close
                          </button>
                        </div>
                      </div>


                    </div>
                  </div>
                </div>
              <!-- end row -->
          </div>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
