<!DOCTYPE html>
<html lang="en">

<head>
    <% include ./head %>
</head>

<body>
    <h1>hi</h1>
    <% include ./scripts %>
    <script>
        $.getJSON("/test/api", function (data) {
            var items = [];
            $.each(data, function (key, val) {
                items.push("<li id='" + key + "'>" + val.name + "</li>");
            });

            $("<ul/>", {
                "class": "my-new-list",
                html: items.join("")
            }).appendTo("body");
        });
    </script>
</body>

</html>