<!DOCTYPE html>
<html>

<head>
    <% include ./partials/head %>
</head>


<body class="fixed-left">

    <!-- Begin page -->
    <div id="wrapper">

        <!-- Top Bar Start -->
        <% include ./partials/navbar %>
        <!-- Top Bar End -->


        <!-- ========== Left Sidebar Start ========== -->
        <% include ./partials/side-bar %>
        <!-- Left Sidebar End -->



        <!-- ============================================================== -->
        <!-- Start right Content here -->
        <!-- ============================================================== -->
        <div class="content-page">
            <!-- Start content -->
            <div class="content">
                <div class="container-fluid">


                    <div class="row">
                        <div class="col-xl-3 col-md-6">
                            <div class="card-box widget-user">
                                <div>
                                    <img src="/adminpage/assets/images/icon-book.png"
                                        class="img-responsive rounded-circle" alt="user">
                                    <div class="wid-u-info">
                                        <h5 class="text1">Quản lí sách</h5>

                                        <small class="text-warning"><b>Admin</b></small>
                                    </div>
                                </div>
                            </div>
                        </div><!-- end col -->

                        <div class="col-xl-3 col-md-6">
                            <div class="card-box widget-user">
                                <div>
                                    <img src="/adminpage/assets/images/staff.png"
                                        class="img-responsive rounded-circle book" alt="user">
                                    <div class="wid-u-info">
                                        <h5 class="text1"> Quản lí nhân viên</h5>
                                        <!-- <p class="text-muted m-b-5 font-13">coderthemes@gmail.com</p> -->
                                        <small class="text-warning"><b>Admin</b></small>
                                    </div>
                                </div>
                            </div>
                        </div><!-- end col -->

                        <div class="col-xl-3 col-md-6">
                            <div class="card-box widget-user">
                                <div>
                                    <img src="/adminpage/assets/images/customer.png"
                                        class="img-responsive rounded-circle " alt="user">
                                    <div class="wid-u-info">
                                        <h5 class="text1">Quản lí khách hàng</h5>
                                        <small class="text-warning"><b>Admin</b></small>
                                        <small class="text-success"><b>Staff</b></small>
                                    </div>
                                </div>
                            </div>
                        </div><!-- end col -->

                        <div class="col-xl-3 col-md-6">
                            <div class="card-box widget-user">
                                <div>
                                    <img src="/adminpage/assets/images/bill.jpg" class="img-responsive rounded-circle"
                                        alt="user">
                                    <div class="wid-u-info">
                                        <h5 class="text1">Quản lí hóa đơn</h5>
                                        <!-- <p class="text-muted m-b-5 font-13">coderthemes@gmail.com</p> -->
                                        <small class="text-warning"><b>Admin</b></small>
                                        <small class="text-success"><b>Staff</b></small>
                                    </div>
                                </div>
                            </div>
                        </div><!-- end col -->
                    </div>
                    <!-- end row -->



            </div> <!-- container -->

        </div> <!-- content -->

        <% include ./partials/footer %>

    </div>


    <!-- ============================================================== -->
    <!-- End Right content here -->
    <!-- ============================================================== -->

    </div>
    <!-- END wrapper -->

    <% include ./partials/scripts %>
</body>

</html>