<!DOCTYPE html>
<html lang="en">

<head>

    <% include ../../partials/head %>

</head>

<body class="bg-gradient-primary">

    <div class="container">
        <div class="col-sm-8" style=" margin: auto; ">
            <div class="card o-hidden border-0 shadow-lg my-5">
                <div class="card-body p-0">
                    <!-- Nested Row within Card Body -->
                    <form class="user" method="POST" action="/admin/users/create">

                        <div class="text-center">
                            <h1 class="text-gray-900 my-4">New Employee</h1>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="pb-3 px-5">

                                    <div class="form-group row">
                                        <div class="col-sm-12">
                                            <input type="text" name="fullname" required
                                                class="form-control form-control-user capitalize"
                                                placeholder="Customer's Fullname">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-sm-12">
                                            <input type="text" name="idCode" required
                                                class="form-control form-control-user capitalize"
                                                placeholder="Customer's Identification Code">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-sm-12">
                                            <input type="text" name="address" required
                                                class="form-control form-control-user capitalize" placeholder="Customer's Address">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-sm-12">
                                            <input type="email" required name="email"
                                                class="form-control form-control-user" placeholder="Customer's Email">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-sm-12">
                                            <input type="text" name="phone" required
                                                class="form-control form-control-user" placeholder="Customer's Phone">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-sm-8"></div>
                                        <div class="col-sm-2">
                                            <a href="/admin/customers" class="btn btn-light btn-user btn-block">
                                                Cancel
                                            </a>
                                        </div>
                                        <div class="col-sm-2">
                                            <button type="submit" class="btn btn-primary btn-user btn-block">
                                                Save
                                            </button>
                                        </div>
                                    </div>


                                </div>
                            </div>
                        </div>
                    </form>
                    <!-- end row -->
                </div>
            </div>

        </div>
    </div>
    <% include ../../partials/scripts %>

</body>

</html>