<header class="header-section">
		<div class="header-top">
			<div class="container">
				<div class="row">
					<div class="col-lg-4 text-center text-lg-left">
						<!-- logo -->
						<a href="#"  style="font-size: 25px;">
						QUẢN LÍ NHÀ SÁCH
						</a>
					</div>
					<div class="col-xl-6 col-lg-5">
					</div>
					<div class="col-xl-2 col-lg-5 text-right">
						<div class="user-panel">
							<div class="up-item">
								<div class="shopping-card">
									<i class="flaticon-bag"></i>
									<span>0</span>
								</div>
								<a href="#">Book Cart</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		
		<nav class="main-navbar">
			<div class="container">
				<!-- menu -->
				<ul class="main-menu">
					<li><a href="#">Home</a></li>
					<li><a href="#GT">Giới thiệu</a></li>
					
					<!-- <li><a href="#">Jewelry
						<span class="new">New</span>
					</a></li> -->
					<li><a href="#">Thể loại</a>
						<ul class="sub-menu">
							<li><a href="#">Chính trị-Pháp luật</a></li>
							<li><a href="#">Khoa học công nghệ-Kinh tế</a></li>
							<li><a href="#">Văn hóa xã hội-Lịch sử</a></li>
							<li><a href="#">Văn học nghệ thuật</a></li>
							<li><a href="#">Giáo trình</a></li>
							<li><a href="#">Truyện, tiểu thuyết</a></li>
							<li><a href="#">Tâm lý, tâm linh, tôn giáo</a></li>
							<li><a href="#">Sách thiếu nhi</a></li>
							
						</ul>
					</li>
					<li><a href="#">Top</a>
						<ul class="sub-menu">
							<li><a href="#">Sách bán chạy nhất</a></li>
							<li><a href="#">Sách được yêu thích nhất</a></li>
							<li><a href="#">Sách mới nhất</a></li>
							<li><a href="#">Sách .........nhất </a></li>
						
						</ul>
					</li>
					<li><a href="#">Blog</a></li>
				</ul>
			</div>
		</nav>
	</header>