<section class="product-filter-section">
		<div class="container">
			<div class="section-title">
				<h2>KHO SÁCH</h2>
			</div>
			<ul class="product-filter-menu">
				<li><a href="#">Chính trị-Pháp luật</a></li>
				<li><a href="#">Khoa học công nghệ-Kinh tế</a></li>
				<li><a href="#">Văn hóa xã hội-Lịch sử</a></li>
				<li><a href="#">Văn học nghệ thuật</a></li>
				<li class="vu"><a href="#">Giáo trình</a></li>
				<li class="vu"><a href="#" >Truyện, tiểu thuyết</a></li>
				<li class="vu"><a href="#" >Tâm lý, tâm linh, tôn giáo</a></li>
				<li class="vu"><a href="#">Sách thiếu nhi</a></li>
			</ul>
			<div class="row">
				<div class="col-lg-3 col-sm-6">
					<div class="product-item">
						<div class="pi-pic3">
							<img src="/homepage/img/product/book-store1.gif" alt="">
							<div class="pi-links">
								<a href="#" class="add-card"><i class="flaticon-bag"></i><span>ADD TO CART</span></a>
								<a href="#" class="wishlist-btn"><i class="flaticon-heart"></i></a>
							</div>
						</div>
						<div class="pi-text">
							<h6>$35,00</h6>
							<p>Sách thiên cơ </p>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-sm-6">
					<div class="product-item">
						<div class="pi-pic3">
							<div class="tag-sale">ON SALE</div>
							<img src="/homepage/img/product/book-store2.gif" alt="">
							<div class="pi-links">
								<a href="#" class="add-card"><i class="flaticon-bag"></i><span>ADD TO CART</span></a>
								<a href="#" class="wishlist-btn"><i class="flaticon-heart"></i></a>
							</div>
						</div>
						<div class="pi-text">
							<h6>$35,00</h6>
							<p>Kẻ trộm sách</p>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-sm-6">
					<div class="product-item">
						<div class="pi-pic3">
							<img src="/homepage/img/product/book-store3.gif" alt="">
							<div class="pi-links">
								<a href="#" class="add-card"><i class="flaticon-bag"></i><span>ADD TO CART</span></a>
								<a href="#" class="wishlist-btn"><i class="flaticon-heart"></i></a>
							</div>
						</div>
						<div class="pi-text">
							<h6>$35,00</h6>
							<p>Cuốn Sách Lớn Đầu Tiên Của Tớ - Những Câu Hỏi Tại Sao </p>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-sm-6">
					<div class="product-item">
						<div class="pi-pic3">
							<img src="/homepage/img/product/book-store4.jpg" alt="" >
							<div class="pi-links">
								<a href="#" class="add-card"><i class="flaticon-bag"></i><span>ADD TO CART</span></a>
								<a href="#" class="wishlist-btn"><i class="flaticon-heart"></i></a>
							</div>
						</div>
						<div class="pi-text">
							<h6>$35,00</h6>
							<p>Bộ Sách Giáo Khoa Lớp 3 (Bộ Bài Học Và Bài Tập) </p>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-sm-6">
					<div class="product-item">
						<div class="pi-pic3">
							<img src="/homepage/img/product/conan75.gif" alt="" >
							<div class="pi-links">
								<a href="#" class="add-card"><i class="flaticon-bag"></i><span>ADD TO CART</span></a>
								<a href="#" class="wishlist-btn"><i class="flaticon-heart"></i></a>
							</div>
						</div>
						<div class="pi-text">
							<h6>20.000 đ</h6>
							<p>Thám Tử Lừng Danh Conan Tập 75 </p>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-sm-6">
					<div class="product-item">
						<div class="pi-pic3">
							<img src="/homepage/img/product/doremon10.gif" alt="">
							<div class="pi-links">
								<a href="#" class="add-card"><i class="flaticon-bag"></i><span>ADD TO CART</span></a>
								<a href="#" class="wishlist-btn"><i class="flaticon-heart"></i></a>
							</div>
						</div>
						<div class="pi-text">
							<h6>16.000 đ</h6>
							<p> Doraemon - Truyện Ngắn Tập 10 (2014)</p>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-sm-6">
					<div class="product-item">
						<div class="pi-pic3">
							<img src="/homepage/img/product/conan78.gif" alt="">
							<div class="pi-links">
								<a href="#" class="add-card"><i class="flaticon-bag"></i><span>ADD TO CART</span></a>
								<a href="#" class="wishlist-btn"><i class="flaticon-heart"></i></a>
							</div>
						</div>
						<div class="pi-text">
							<h6>20.000 đ</h6>
							<p>Thám Tử Lừng Danh Conan Tập 78 </p>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-sm-6">
					<div class="product-item">
						<div class="pi-pic3">
							<img src="/homepage/img/product/book-store12.gif" alt="">
							<div class="pi-links">
								<a href="#" class="add-card"><i class="flaticon-bag"></i><span>ADD TO CART</span></a>
								<a href="#" class="wishlist-btn"><i class="flaticon-heart"></i></a>
							</div>
						</div>
						<div class="pi-text">
							<h6>91.000 đ</h6>
							<p>Trò Chuyện Với Khoa Học Và Giáo Dục </p>
						</div>
					</div>
				</div>
			</div>
			<div class="text-center pt-5">
				<button class="site-btn sb-line sb-dark">LOAD MORE</button>
			</div>
		</div>
	</section>