<section class="hero-section" id="GT">
		<div class="hero-slider owl-carousel">
			<div class="hs-item set-bg" data-setbg="/homepage/img/product/hieusach.jpg">
				<div class="container">
					<div class="row">
						<div class="col-xl-6 col-lg-7 text-white">
							<span>  Nhóm 1</span>
							<h2>QUẢN LÍ NHÀ SÁCH</h2>
							<p>Phần mềm quản lí nhà sách cho phép người dùng có thể mua và lựa chọn những cuốn sách bạn yêu thích từ rất nhiều các lĩnh vực khác nhau, có rất nhiều thể loại và giá cả hợp lí để khách hàng có thể lựa chọn </p>
							<span>Mang cả thế giới tri thức đến với tầm tay của bạn</span>
							<!-- <a href="#" class="site-btn sb-line">DISCOVER</a>
							<a href="#" class="site-btn sb-white">ADD TO CART</a> -->
						</div>
					</div>
					<!-- <div class="offer-card text-white">
						<span>from</span>
						<h2>$29</h2>
						<p>SHOP NOW</p>
					</div> -->
				</div>
			</div>
			<div class="hs-item set-bg" data-setbg="/homepage/img/product/book-Store1.jpg">
				<div class="container">
					<div class="row">
						<div class="col-xl-6 col-lg-7 text-white">
							<span>Nhóm 1</span>
							<h2>Quản lí nhà sách</h2>
							<p>Phần mềm quản lí nhà sách cho phép người dùng có thể mua và lựa chọn những cuốn sách bạn yêu thích từ rất nhiều các lĩnh vực khác nhau, có rất nhiều thể loại và giá cả hợp lí để khách hàng có thể lựa chọn. </p>
							<!-- <a href="#" class="site-btn sb-line">DISCOVER</a>
							<a href="#" class="site-btn sb-white">ADD TO CART</a> -->
							<span>Mang cả thế giới tri thức đến với tầm tay của bạn</span>
						</div>
					</div>
					 <!-- <div class="offer-card text-white">
						<span>from</span>
						<h2>$29</h2>
						<p>SHOP NOW</p>
					</div>  -->
				</div>
			</div>
		</div>
		<div class="container">
			<div class="slide-num-holder" id="snh-1"></div>
		</div>
	</section>