<section class="top-letest-product-section">
    <div class="container">
        
        <div class="section-title">
            <h2>SÁCH BÁN CHẠY NHẤT</h2>
        </div>
        <div class="product-slider owl-carousel">
            <div class="product-item">
                <div class="pi-pic2">
                    <img src="/homepage/img/product/top-book2.jpg" alt="">
                    <div class="pi-links">
                        <a href="#" class="add-card"><i class="flaticon-bag"></i><span>ADD TO CART</span></a>
                        <a href="#" class="wishlist-btn"><i class="flaticon-heart"></i></a>
                    </div>
                </div>
                <div class="pi-text">
                    <h6>$35,00</h6>
                    <p>The Inmates Are Running the Asylum </p>
                </div>
            </div>
            <div class="product-item">
                <div class="pi-pic2">
                    <div class="tag-new">New</div>
                    <img src="/homepage/img/product/top-book2.png" alt="">
                    <div class="pi-links">
                        <a href="#" class="add-card"><i class="flaticon-bag"></i><span>ADD TO CART</span></a>
                        <a href="#" class="wishlist-btn"><i class="flaticon-heart"></i></a>
                    </div>
                </div>
                <div class="pi-text">
                    <h6>$35,00</h6>
                    <p>House Industries The Process Is the Inspiration </p>
                </div>
            </div>
            <div class="product-item">
                <div class="pi-pic2">
                    <img src="/homepage/img/product/top-book3.jpg" alt="">
                    <div class="pi-links">
                        <a href="#" class="add-card"><i class="flaticon-bag"></i><span>ADD TO CART</span></a>
                        <a href="#" class="wishlist-btn"><i class="flaticon-heart"></i></a>
                    </div>
                </div>
                <div class="pi-text">
                    <h6>$35,00</h6>
                    <p>A Smile in the Mind</p>
                </div>
            </div>
            <div class="product-item">
                    <div class="pi-pic2">
                        <img src="/homepage/img/product/top-book4.jpg" alt="">
                        <div class="pi-links">
                            <a href="#" class="add-card"><i class="flaticon-bag"></i><span>ADD TO CART</span></a>
                            <a href="#" class="wishlist-btn"><i class="flaticon-heart"></i></a>
                        </div>
                    </div>
                    <div class="pi-text">
                        <h6>$35,00</h6>
                        <p>Don't Make Me Think A Common Sense Approach to Web Usability</p>
                    </div>
                </div>
            <div class="product-item">
                    <div class="pi-pic2">
                        <img src="/homepage/img/product/book5.jpg" alt="">
                        <div class="pi-links">
                            <a href="#" class="add-card"><i class="flaticon-bag"></i><span>ADD TO CART</span></a>
                            <a href="#" class="wishlist-btn"><i class="flaticon-heart"></i></a>
                        </div>
                    </div>
                    <div class="pi-text">
                        <h6>$35,00</h6>
                        <p> Combo Sách Kỹ Năng Khi Bạn Đang Mơ Thì Người Khác Đang Nỗ Lực + Nói Nhiều Không Bằng Nói Đúng </p>
                    </div>
                </div>
        </div>
    </div>
</section>