<section class="top-letest-product-section">
		<div class="container">
			<div class="section-title">
				<h2>SÁCH MỚI NHẤT</h2>
			</div>
			<div class="product-slider owl-carousel">
				<div class="product-item">
					<div class="pi-pic">
						<img src="/homepage/img/product/book1.jpg" alt="">
						<div class="pi-links">
							<a href="#" class="add-card"><i class="flaticon-bag"></i><span>ADD TO CART</span></a>
							<a href="#" class="wishlist-btn"><i class="flaticon-heart"></i></a>
						</div>
					</div>
					<div class="pi-text">
						<h6>$35,00</h6>
						<p>Sách Sự Cứu Rỗi Của Thánh Nữ </p>
					</div>
				</div>
				<div class="product-item">
					<div class="pi-pic">
						<div class="tag-new">New</div>
						<img src="/homepage/img/product/book2.png" alt="">
						<div class="pi-links">
							<a href="#" class="add-card"><i class="flaticon-bag"></i><span>ADD TO CART</span></a>
							<a href="#" class="wishlist-btn"><i class="flaticon-heart"></i></a>
						</div>
					</div>
					<div class="pi-text">
						<h6>$35,00</h6>
						<p>Combo 2 sách: Thư Gửi Tương Lai </p>
					</div>
				</div>
				<div class="product-item">
					<div class="pi-pic">
						<img src="/homepage/img/product/book3.jpg" alt="">
						<div class="pi-links">
							<a href="#" class="add-card"><i class="flaticon-bag"></i><span>ADD TO CART</span></a>
							<a href="#" class="wishlist-btn"><i class="flaticon-heart"></i></a>
						</div>
					</div>
					<div class="pi-text">
						<h6>$35,00</h6>
						<p>The Pragmatic Programmer</p>
					</div>
				</div>
				<div class="product-item">
						<div class="pi-pic">
							<img src="/homepage/img/product/book4.jpg" alt="">
							<div class="pi-links">
								<a href="#" class="add-card"><i class="flaticon-bag"></i><span>ADD TO CART</span></a>
								<a href="#" class="wishlist-btn"><i class="flaticon-heart"></i></a>
							</div>
						</div>
						<div class="pi-text">
							<h6>$35,00</h6>
							<p>Siêu phẩm 3D - Thế giới khủng long (Sách dựng hình 3D)</p>
						</div>
					</div>
				<div class="product-item">
						<div class="pi-pic">
							<img src="/homepage/img/product/book5.jpg" alt="">
							<div class="pi-links">
								<a href="#" class="add-card"><i class="flaticon-bag"></i><span>ADD TO CART</span></a>
								<a href="#" class="wishlist-btn"><i class="flaticon-heart"></i></a>
							</div>
						</div>
						<div class="pi-text">
							<h6>$35,00</h6>
							<p> Combo Sách Kỹ Năng Khi Bạn Đang Mơ Thì Người Khác Đang Nỗ Lực + Nói Nhiều Không Bằng Nói Đúng </p>
						</div>
					</div>
			</div>
		</div>
	</section>