
    <title>NHÀ SÁCH UIT</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <link href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700" rel="stylesheet">

    <link rel="stylesheet" href="/homepage/css/open-iconic-bootstrap.min.css">
    <link rel="stylesheet" href="/homepage/css/animate.css">
    
    <link rel="stylesheet" href="/homepage/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/homepage/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="/homepage/css/magnific-popup.css">

    <link rel="stylesheet" href="/homepage/css/aos.css">

    <link rel="stylesheet" href="/homepage/css/ionicons.min.css">

    <link rel="stylesheet" href="/homepage/css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="/homepage/css/jquery.timepicker.css">

    
    <link rel="stylesheet" href="/homepage/css/flaticon.css">
    <link rel="stylesheet" href="/homepage/css/icomoon.css">
    <link rel="stylesheet" href="/homepage/css/style.css">
    <link rel="stylesheet" href="/homepage/css/custom.css">