<!--  Modal content for the above example -->
<div class="modal fade bs-example-modal-lg" tabindex="-1" id="modal-create" role="dialog" aria-labelledby="create-form"
  aria-hidden="true" style="display: none;">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header b-0">
        <h4 class="modal-title mt-0" id="create-form">Thêm khách hàng</h4>
        <button type="button" onclick="cancelInput(event)" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      </div>
      <div class="modal-body p-0">
        <div class="card o-hidden border-0 shadow-lg my-0 py-4">
          <!-- Nested Row within Card Body -->
          <form class="user" id="form-create" action="/admin/customerType" method="POST">
            <div class="row">
              <div class="col-lg-12">
                <div class="pb-3 px-5">

                  <div class="form-group row">
                    <div class="col-sm-6">
                      <label for="">Tên loại khách hàng</label>
                      <input type="text" name="typeName" data-focus="Tên loại khách hàng" class="form-control form-control-user"
                        placeholder="vd: VIPP">
                    </div>
                    <div class="col-sm-6">
                      <label for="">Mã loại khách hàng</label>
                      <input type="text" name="typeID" data-focus="Mã loại khách hàng" class="form-control form-control-user"
                        placeholder="vd: LOAI1">
                    </div>
                  </div>
                  <div class="form-group row">
                    <div class="col-sm-6">
                      <label for="">Số tiền</label>
                      <input type="text" name="minPaid" data-focus="Số tiền" class="form-control form-control-user"
                        placeholder="Số tiền để trở thành loại khách hàng này">
                    </div>
                    <div class="col-sm-6">
                      <label for="">Hệ số giảm giá</label>
                      <input type="text" name="discount" data-focus="Hệ số giảm giá" class="form-control form-control-user"
                        placeholder="0.2 -> 2% tổng đơn hàng">
                    </div>
                  </div>
                  <div class="form-group row">
                    <div class="col-sm-12">
                      <label for="">Mô tả về loại khách hàng này</label>
                      <textarea name="description" data-focus="Mô tả về loại khách hàng" class="form-control form-control-user"
                        ></textarea>
                    </div>
                  </div>

                  <div class="form-group row">
                    <div class="col-sm-8"></div>
                    <div class="col-sm-2">
                      <button type="reset" class="btn btn-light btn-user btn-block">
                        Nhập lại
                      </button>
                    </div>
                    <div class="col-sm-2">
                      <button type="submit" class="btn btn-primary btn-user btn-block">
                        Lưu
                      </button>
                    </div>
                  </div>


                </div>
              </div>
            </div>
          </form>
          <!-- end row -->
        </div>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->