<table id="datatable" class="table table-striped table-bordered" cellspacing="0" width="100%">
    <thead>
        <tr>
          <th>Name</th>
          <th>ID</th>
          <th>Price</th>
          <th>Solds</th>
          <th>Category</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody id="table-body">

        
      </tbody>
</table>