<!--  Modal content for the above example -->
<div class="modal fade bs-example-modal-lg" tabindex="-1" id="edit-modal" role="dialog" aria-labelledby="edit-form"
  aria-hidden="true" style="display: none;">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header b-0">
        <h4 class="modal-title mt-0" id="edit-form">Sửa thông tin khách hàng</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      </div>
      <div class="modal-body p-0">
        <div class="card o-hidden border-0 shadow-lg my-0 py-4">
          <!-- Nested Row within Card Body -->
          <form class="user" id="form-edit" action="" method="POST">
            <div class="row">
              <div class="col-lg-12">
                <div class="pb-3 px-5">

                  <div class="form-group row">
                    <div class="col-sm-6">
                      <label for="">Họ và tên</label>
                      <input type="text" name="fullname" data-focus="Họ và tên" class="form-control form-control-user"
                        placeholder="Nguyễn Văn A"
                        id="editInput-fullname">
                    </div>
                    <div class="col-sm-6">
                      <label for="">Số điện thoại</label>
                      <input type="text" name="phone" data-focus="Số điện thoại" disabled class="form-control form-control-user"
                        placeholder="0123456789"
                        id="editInput-phone">
                    </div>
                  </div>
                  <div class="form-group row">
                    <div class="col-sm-6">
                      <label for="">Số chứng minh nhân dân</label>
                      <input type="text" name="idCode" data-focus="Số chứng minh nhân dân" disabled class="form-control form-control-user"
                        placeholder="025885xxx"
                        id="editInput-idCode">
                    </div>
                    <div class="col-sm-6">
                      <label for="">Ngày sinh</label>
                      <input type="date" name="birth" data-focus="Ngày sinh" class="form-control form-control-user"
                      id="editInput-birth">
                    </div>
                  </div>
                  <div class="form-group row">
                    <div class="col-sm-6">
                      <label for="">Địa chỉ Email</label>
                      <input type="email" name="email" data-focus="Địa chỉ Email" disabled class="form-control form-control-user"
                       placeholder="email@gmail.com"
                       id="editInput-email">
                    </div>
                    <div class="col-sm-6">
                      <label for="">Địa chỉ</label>
                      <input type="text" name="address" data-focus="Địa chỉ" class="form-control form-control-user"
                       placeholder="Kí túc xá A, ĐHQG"
                       id="editInput-address">
                    </div>
                  </div>
                  <div class="form-group row">
                    <div class="col-sm-6">
                      <label for="">Loại khách hàng</label>
                      <select type="text" name="type" data-focus="Loại khách hàng" class="form-control form-control-user"
                       placeholder="email@gmail.com"
                       id="editInput-type">
                        
                      </select>
                    </div>
                    <div class="col-sm-6">
                      <label for="">Mã khách hàng</label>
                      <input type="text" name="customerId" data-focus="Mã khách hàng" disabled class="form-control form-control-user"
                       placeholder="Kí túc xá A, ĐHQG"
                       id="editInput-customerId">
                    </div>
                  </div>

                  <div class="form-group row">
                    <div class="col-sm-8"></div>
                    <div class="col-sm-2">
                      <button data-dismiss="modal" class="btn btn-light btn-user btn-block">
                        Đóng
                      </button>
                    </div>
                    <div class="col-sm-2">
                      <button type="submit" class="btn btn-primary btn-user btn-block">
                        Lưu
                      </button>
                    </div>
                  </div>


                </div>
              </div>
            </div>
          </form>
          <!-- end row -->
        </div>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->