<div class="left side-menu">
    <div class="sidebar-inner slimscrollleft">

        <!-- User -->
        <div class="user-box">
            <div class="user-img">
                <img src="/adminpage/assets/images/staff.png" alt="user-img" title="Mat Helme"
                    class="rounded-circle img-thumbnail img-responsive">
            </div>
            <h5><a href="#"><%- user.fullname  %></a> </h5>
            <ul class="list-inline">

                <li class="list-inline-item">
                    <a href="/logout" class="text-custom">
                        <i class="mdi mdi-power"></i>
                    </a>
                </li>
            </ul>
        </div>
        <!-- End User -->

        <!--- Sidemenu -->
        <div id="sidebar-menu">
            <ul>
                <li class="text-muted menu-title">Quản lí</li>

                <!-- <li>
                                <a href="index.html" class="waves-effect"><i class="mdi mdi-view-dashboard"></i> <span> Dashboard </span> </a>
                            </li>

                            <li>
                                <a href="typography.html" class="waves-effect"><i class="mdi mdi-format-font"></i> <span> Typography </span> </a>
                            </li> -->

                <li class="has_sub">
                    <a href="/admin/book" class="waves-effect"><i class="mdi mdi-invert-colors"></i> <span> Quản
                            lí thông tin sách </span></a>
                </li>

                <li class="has_sub">
                    <a href="/admin/user" class="waves-effect"><i class="mdi mdi-texture"></i><span> Quản lí
                            nhân viên </span> </a>
                </li>

                <li class="has_sub">
                    <a href="/admin/customer" class="waves-effect"><i class="mdi mdi-view-list"></i> <span> Quản lí
                            khách hàng </span></span></a>
                </li>

                <li class="has_sub">
                    <a href="javascript:void(0);" class="waves-effect"><i class="mdi mdi-chart-donut-variant"></i><span>
                            Quản lí hóa đơn </span></a>
                    <ul class="list-unstyled">
                        <li><a href="/admin/importForm">Lập phiếu nhập sách</a></li>
                        <li><a href="/admin/bill">Lập hóa đơn bán sách</a></li>
                    </ul>
                </li>
                <li class="has_sub">
                    <a href="/admin/warehouse" class="waves-effect"><i class="mdi mdi-chart-donut-variant"></i><span>
                            Quản lý kho sách </span></a>
                </li>

                <li>
                    <a href="/admin/rule" class="waves-effect"><i class="mdi mdi-calendar"></i><span> Thay đổi quy định
                        </span></a>
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>
        <!-- Sidebar -->
        <div class="clearfix"></div>

    </div>

</div>
